SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/filipe/scripts/powerstate.sh"
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/home/filipe/scripts/powerstate.sh"
