[Unit]
Description=Local system resume actions
After=suspend.target

[Service]
Type=simple
ExecStart=/home/filipe/scripts/powerstate.sh

[Install]
WantedBy=suspend.target
